body {
  width: 320px;
  margin: 0 auto;
  position: relative;
  transform-origin: 50% 0;
  -moz-transform: scale(3);
  transform: scale(3);
}

body, body div, body label, body input, body button {
  background-color: #646464;
  font-smoothing : none;
  -webkit-font-smoothing : none;
  color: white;
  font-size: 5px;
  font-family: 'C64 Pro Mono', "Consolas", "Myriad", "Arial", Gadget, sans-serif;
  display: block;
}

h1 {
  text-align: center;
}

h1 > sub {
  color: black;
  font-size: 3px;
}

label {
  margin-top: 5px;
}

div.screen, div.setup {
  margin-top: 5px;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 200px;
}

div.setup {
  transform: rotateY(180deg);
}

div.screen {
  transform: rotateY(0deg);
}

div.status {
  padding-top: 5px;
  height: 9px;
  width: 100%;
}

div.status > input {
  border: none;
  width: 300px;
  margin: 0;
  padding: 0;
}

div.status > .score {
  float: right;
}

div[id=setup], div[id=screen], div[id=scores] {
  backface-visibility: hidden;
  background-color: black;
  position: absolute;
  width: 320px;
  height: 200px;
  transform: rotateY(0);
}

div[id=scores] {
  margin: 5px;
}

div[id=scores], div[id=scores] * {
  background-color: transparent;
}

div[id=setup] {
  transform: rotateY(180deg);
}

div.welcome {
  padding-top: 15px;
  width: 190px;
  display: inline-block;
  float: left;
}

div[id=allTime] {
  width: 120px;
  float: right;
  padding-top: 20px;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  height: 200px;
}

canvas.score {
  text-rendering: optimizeLegibility;
  font-smoothing: none;
  -webkit-font-smoothing: none;
  position: absolute;
}

input, .color-sample {
  margin-top: 1px;
  padding: 1px;
}

button {
  margin: 25px auto 0;
  display: block;
  padding: 2px 6px;
}

input, #colors {
  width: 100px;
}

.setup-content {
  display: inline-block;
  position: relative;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.color-sample {
  border: 1px solid transparent;
  margin-right: 2px;
  float:left;
}

.color-sample.selected {
  border: 1px solid black;
}
