body {
  width: 320px;
  margin: 0 auto;
  position: relative;
  transform-origin: 50% 0%;
  transform: scale(3);
}

html {
  background-color: #646464;
}

body, body div, body label, body input, body button {
  outline: none;
  background-color: #646464;
  font-smoothing : none;
  -webkit-font-smoothing : none;
  color: white;
  font-size: 5px;
  font-family: 'C64 Pro Mono', "Consolas", "Myriad", "Arial", Gadget, sans-serif;
  display: block;
}

h1 {
  text-align: center;
}

h1 > sub {
  color: black;
  font-size: 3px;
}

label {
  margin-top: 5px;
}

div.screen, div.setup {
  margin-top: 5px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  //transition: all 0.3s ease-out;
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 200px;
}

div[id=setup] {
  display: none;
}

div[id=screen] {
  display: none;
}

div.status {
  display: none;
  z-index: 9;
  padding-top: 5px;
  height: 9px;
  width: 100%;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  line-height: 10px;
}

div.status > input {
  border: none;
  width: 300px;
  margin: 0;
  padding: 0;
}

div.status > .abilities {
  clear: left;
  padding-top: 5px;
}

div.status > .score {
  float: right;
}

div.setup div[id=setup] {
  display: block;
}

div.screen div[id=screen] {
  display: block;
}


div[id=setup], div[id=screen], div[id=scores] {
  backface-visibility: hidden;
  background-color: black;
  position: absolute;
  width: 320px;
  height: 200px;
}

div[id=scores] {
  display: none;
  margin: 25px 5px 5px 5px;
}

div[id=scores] tr td {
  text-align: right;
}

div[id=scores], div[id=scores] * {
  background-color: transparent;
}

div.welcome {
  padding-top: 15px;
  width: 190px;
  display: inline-block;
  float: left;
}

div[id=allTime] {
  width: 120px;
  float: right;
  padding-top: 20px;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  height: 200px;
}

canvas.score {
  text-rendering: optimizeLegibility;
  font-smoothing: none;
  -webkit-font-smoothing: none;
  position: absolute;
}

input, .color-sample {
  margin-top: 1px;
  padding: 1px;
}

button {
  margin: 25px auto 0;
  display: block;
  padding: 2px 6px;
}

input, #colors {
  width: 100px;
}

.setup-content {
  display: inline-block;
  position: relative;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.color-sample {
  border: 1px solid transparent;
  margin-right: 2px;
  float:left;
}

.color-sample.selected {
  border: 1px solid black;
}

div#dpad {
  background-color: transparent;
  position: fixed;
  width: 48px;
  height: 48px;
  left: 10px;
  bottom: 10px;
  z-index: 10;

  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
  overflow: hidden;
  display: none;
  margin: 0;
  padding: 0;
}

div#dpad button {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  float: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

button#start, div#use  {
  display: none;
  background-color: transparent;
  position: fixed;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0;
  z-index: 10;
}

button#start {
  width: 25px;
  height: 17px;
  right: 50%;
  bottom: 10px;
  transform: rotateZ(-45deg);
}

div#use {
  width: 18px;
  right: 5px;
  bottom: 83px;
}

div#use button {
  margin: 0 0 5px 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: transparent;
}

div#use button[data-key="32"] {
  position: absolute;
  height: 18px;
  background-color: transparent;
  bottom: -83px;
  left: -46px;
  width: 40px;
  border-radius: 0;
}

body {
  margin: 0 auto;
}

div[id=main],
div[id=setup],
div[id=screen],
div[id=scores],
canvas {
  z-index: 5;
  width: inherit;
  height: inherit;
}

div.screen button#start,
div.screen div#use,
div.screen div#dpad,
div.screen div.status,
div.screen div#scores {
  display: block;
}
