<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/fonts/c64fonts.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <style>
  </style>
</head>
<body>
  <div class="{{state}}" ng-controller="connect">
    <div ng-controller="setup">
      <div class="setup-content">
        <label>
          Name <br />
          <input
            type="text"
            ng-pattern="namePattern"
            ng-model="playerName"
            ng-change="changeName()" />
        </label>
        <label>
          <div ng-controller="colors">
            Color <br />
            <div ng-repeat="color in colors">
              <div
                class="color-sample"
                style="background-color: {{color.hex}}; border-color: {{isSelected(color)}}"
                ng-click="changeColor(color.array)"
                style="margin-right: 2px;float:left;">
                  &nbsp;
              </div>
            </div>
          </div>
        </label>
        <div>
          <button ng-click="goPlay()">PLAY</button>
        </div>
      </div>
    </div>
    <div ng-controller="screen"></div>
    <div ng-controller="scores" ng-if="showScores">
      HIGH SCORES
      <table>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>SCORE</th>
        </tr>
        <tr ng-repeat="score in scores">
          <td>{{score.place}}</td>
          <td style="color: {{score.color}};">{{score.name}}</td>
          <td>{{score.score}}</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="js/angular-client.js"></script>
</body>
</html>
