<!DOCTYPE html>
<html>
<head>
  <title>WROM</title>
  <link rel="stylesheet" type="text/css" href="css/fonts/c64fonts.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <style>
  </style>
</head>
<body ng-controller="connect">
  <div class="{{state}}">
    <div class="status">
      <span class="msg" ng-if="state == 'screen'">{{status.message}}</span>
      <span class="score" ng-if="state == 'screen'">{{status.score}}</span>
    </div>
    <div ng-controller="setup">
      <div class="setup-content">
        <h1>WROM</h1>
        <label>
          Name <br />
          <input
            type="text"
            ng-pattern="namePattern"
            ng-model="playerName"
            ng-change="changeName()" />
        </label>
        <label>
          <div ng-controller="colors">
            Color <br />
            <div ng-repeat="color in colors">
              <div
                class="color-sample"
                style="background-color: {{color.hex}}; border-color: {{isSelected(color)}}"
                ng-click="changeColor(color.array)"
                style="margin-right: 2px;float:left;">
                  &nbsp;
              </div>
            </div>
          </div>
        </label>
        <div>
          <button ng-click="goPlay()">PLAY</button>
        </div>
      </div>
    </div>
    <div ng-controller="screen"></div>
    <div ng-controller="scores" ng-if="showScores">
      HIGH SCORES
      <table>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>SCORE</th>
        </tr>
        <tr ng-repeat="score in scores">
          <td>{{score.place}}</td>
          <td style="color: {{score.color}};">{{score.name}}</td>
          <td>{{score.score}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="welcome">
    <p>WELCOME TO WROMIA!</p>
    <p>The super fun awesome world, that is like snake,
    but super fun and awesome.</p>
    <p>You can control you're worm with [UP], [DOWN],
    [LEFT] and [RIGHT].</p>
    <p>You can use [SPACE] to utilize special ability, obtained
    by eating up strange points on the field.</p>
    <p>The dead have the special ability to respawn, so in
    the highly likely case of dying, use [SPACE] to
    respawn.</p>
    <p>Gain points by eating certain dots, or by killing and
    dismembering your fellow worms.</p>
    <p>Become immortal by getting on the scoreboard on the right.</p>
  </div>
  <div ng-controller="athScores" class="allTimeHigh">
    ALL TIME HIGH SCORES
    <table>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>SCORE</th>
      </tr>
      <tr ng-repeat="score in athScores">
        <td>{{score.pa}}</td>
        <td>{{score.nm}}</td>
        <td>{{score.so}}</td>
      </tr>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="js/angular-client.js"></script>
</body>
</html>
